<h1>Construction Homepage</h1>
<header>
    <nav>
        <ul>

            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li>
                <form method="GET" action="/logout"><input type="submit" value="Logout"></form>
            </li>

        </ul>
    </nav>
</header>

<body>
    <div id="construction-form">
        <form>
            <label for="team-members">Members in the team:</label>
            <input type="text" id="team-members" name="team-members" required>

            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required>

            <label for="start-date">Start date:</label>
            <input type="date" id="start-date" name="start-date" required>

            <label for="estimated-time">Estimated time of completion:</label>
            <input type="number" id="estimated-time" name="estimated-time" min="1" max="24" required> hours

            <input type="submit" value="Submit">
    </div>
</body>