<h1>Admin Homepage</h1>
<header>
    <nav>
        <ul>

            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><form method="GET" action="/admin/create-construction"><input type="submit" value="Create a construction employee"></form></li>
            <li><form method="GET" action="/admin/create-sales"><input type="submit" value="Create a sales Employee"></form></li>

        </ul>
    </nav>
</header>