<h1>Construction Homepage</h1>
<header>
    <nav>
        <ul>

            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><form method="GET" action="/logout"><input type="submit" value="Logout"></form></li>

        </ul>
    </nav>
</header>