<h1>Landing Page</h1>
<header>
    <nav>
        <ul>

            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><form method="GET" action="/login"><input type="submit" value="Login"></form></li>
            <li><form method="GET" action="/register"><input type="submit" value="Register"></form></li>
        </ul>
    </nav>
</header>